html{
    margin: 20px;
    text-align: center;
}
.main{
    background: red;
}
.banner{
    background: black;
    color: white;
    padding: 5px;
}
.users{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.user-block{
    border: double black;
    padding: 10px;
    background: white;
    margin: 20px;
}
.hand{
    display: flex;
}
.card{
    border: solid;
    padding: 20px;
    margin: 5px;
}
.deck{
    border: double;
    background: white;
    padding: 10px;
    width: 70px;
    margin: auto;
}
.button{
    margin: 5px;
}
.message{
    padding: 0px 0px 20px;
}
